<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Jax Tubbs Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
      <div class="content">
        <div class="button">
          <p>Get Traffic</p>
        </div>
        <ul class="data">
          
        </ul>
      </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/admin.js"></script>
  </body>
</html>
