<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jax Tubbs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
  </head>
  <body>
    <div class="navBar">
        <a class="navBarLogoText" href="#">Lorem</a>
        <div class="navBarToggle" onclick="navBar()">
          <div class="navBarTogglePart"></div>
          <div class="navBarTogglePart"></div>
          <div class="navBarTogglePart"></div>
        </div>
        <div class="navBarLinks" id="navBarLinks">
          <a href="/logout" class="right">Logout</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
          <a href="#">Locations</a>
          <a href="#">Services</a>
        </div>
      </div>
      <div class="sideBar">
        <div class="sideBarAccount">
          <p class="sideBarAccountAmount">1000</p>
          <p class="sideBarAccountName">Savings</p>
        </div>
        <div class="sideBarAccount">
          <p class="sideBarAccountAmount">1000</p>
          <p class="sideBarAccountName">Savings</p>
        </div>
        <div class="sideBarAccount">
          <p class="sideBarAccountAmount">1000</p>
          <p class="sideBarAccountName">Savings</p>
        </div>
        <div class="sideBarAccount">
          <p class="sideBarAccountAmount">1000</p>
          <p class="sideBarAccountName">Savings</p>
        </div>
      </div>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/homepage.js"></script>
</body>
</html>
