<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Jax Tubbs Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/websites.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
    <div class="navBar">
      <a class="navBarLogoText" href="/">Home</a>
      <div class="navBarToggle" onclick="navBar()">
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
      </div>
      <div class="navBarLinks" id="navBarLinks">
        <a href="/" class="main">Home</a>
        <a href="/skills">Skills</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="col lg-12-nl md-12-nl sm-12-nl">
          <div class="info">
            <p>Welcome to my skills</p>
          </div>
          <div class="accordian">
          <div class="accordianToggle" onclick="accordianToggle(this)">
            <p>Furnishing</p>
            <div class="accordianToggleAnimation">
              <div class="accordianToggleAnimationPart"></div>
              <div class="accordianToggleAnimationPart"></div>
            </div>
          </div>
          <div class="accordianContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dapibus erat, a aliquam justo. Sed vulputate sapien sed hendrerit vehicula. Maecenas et faucibus magna. Maecenas commodo convallis cursus.s</p>
          </div>
        </div>
          <div class="accordian">
            <div class="accordianToggle" onclick="accordianToggle(this)">
              <p>Stone Walkways</p>
              <div class="accordianToggleAnimation">
                <div class="accordianToggleAnimationPart"></div>
                <div class="accordianToggleAnimationPart"></div>
              </div>
            </div>
            <div class="accordianContent">
              <p>Donec tincidunt iaculis mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui.</p>
            </div>
          </div>
          <div class="accordian">
            <div class="accordianToggle" onclick="accordianToggle(this)">
              <p>Patios</p>
              <div class="accordianToggleAnimation">
                <div class="accordianToggleAnimationPart"></div>
                <div class="accordianToggleAnimationPart"></div>
              </div>
            </div>
            <div class="accordianContent">
              <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui. Suspendisse facilisis sollicitudin risus, vitae scelerisque mi rhoncus in. Phasellus urna quam, egestas a lacinia sed, luctus at mi. In arcu justo, varius eget sagittis quis, fermentum nec neque. Sed accumsan dolor risus, eu tristique lacus pretium eu.</p>
            </div>
          </div>
          <div class="accordian">
            <div class="accordianToggle" onclick="accordianToggle(this)">
              <p>Floors</p>
              <div class="accordianToggleAnimation">
                <div class="accordianToggleAnimationPart"></div>
                <div class="accordianToggleAnimationPart"></div>
              </div>
            </div>
            <div class="accordianContent">
              <p>Suspendisse facilisis sollicitudin risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui. Suspendisse facilisis sollicitudin risus, vitae scelerisque mi rhoncus in. Phasellus urna quam, egestas a lacinia sed, luctus at mi. In arcu justo, varius eget sagittis quis, fermentum nec neque. Sed accumsan dolor risus, eu tristique lacus pretium eu.</p>
            </div>
          </div>
          <div class="accordian">
            <div class="accordianToggle" onclick="accordianToggle(this)">
              <p>Stone</p>
              <div class="accordianToggleAnimation">
                <div class="accordianToggleAnimationPart"></div>
                <div class="accordianToggleAnimationPart"></div>
              </div>
            </div>
            <div class="accordianContent">
              <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui. Suspendisse facilisis sollicitudin risus, vitae scelerisque mi rhoncus in. Phasellus urna quam, egestas a lacinia sed, luctus at mi. In arcu justo, varius eget sagittis quis, fermentum nec neque. Sed accumsan dolor risus, eu tristique lacus pretium eu.</p>
            </div>
          </div>
          <div class="accordian">
            <div class="accordianToggle" onclick="accordianToggle(this)">
              <p>Ponds</p>
              <div class="accordianToggleAnimation">
                <div class="accordianToggleAnimationPart"></div>
                <div class="accordianToggleAnimationPart"></div>
              </div>
            </div>
            <div class="accordianContent">
              <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui. Suspendisse facilisis sollicitudin risus, vitae scelerisque mi rhoncus in. Phasellus urna quam, egestas a lacinia sed, luctus at mi. In arcu justo, varius eget sagittis quis, fermentum nec neque. Sed accumsan dolor risus, eu tristique lacus pretium eu.</p>
            </div>
          </div>
          <div class="">
            
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/flower.js"></script>
  </body>
</html>
